/* Reset styles */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

fieldset {
  padding: 0;
  margin: 0;
  border: none;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  letter-spacing: 0.04em;

  color: #2e2f42;
}

.container {
  max-width: 1128px;
  padding: 0 15px;
  margin: 0 auto;
}

.section {
  padding: 36px 0;
}

/* 
* Loading
 */

.loading.hidden {
  opacity: 0;
  pointer-events: none;
}

.loading {
  font-size: 16px;
  text-align: center;
}
